<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/board/view.css">
</head>
<body>
    <div th:replace="~{ /header.html :: header }"></div>

    <div class="container viewBox">
        <div id="view">
            <div class="bcName"> ( 카테고리명 ) </div>
            <div class="etcBox"> (작성자) , ( 조회수 ) , ( 작성일 ) </div>
            <div class="bTitle"> 안녕하세요1 (제목구역) </div>
            <div class="bCntent"> 내용 (내용구역) </div>
            <div class="bfile"> 첨부파일 </div>
            <div class="btnBox">
                <button type="button" onclick="location.href='/board/update?bno=현재게시물번호'">수정</button>
                <button type="button" onclick="doBoardDelete( 현재게시물번호 )">삭제</button>
            </div>
        </div>

        <div>
            <textarea class="brcontent"></textarea>
            <button type="button" onclick="onReplyWrite()">댓글등록</button>
        </div>

        <div class="brprint">

        </div>
    </div>
    
    
    <script src="/js/board/view.js"></script>

    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>